<ion-app>
  <ion-menu *ngIf="isAuthenticated && isNative" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="fecharMenu()">x</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <div class="profile-card" *ngIf="user">
        <div class="profile-header">
          <div class="avatar">{{ user.nome.slice(0, 1) }}</div>
          <div class="profile-title">
            <h1>Olá, {{ user.nome }}</h1>
            <p>{{ user.email }}</p>
          </div>
        </div>
        <div class="profile-details">
          <div class="detail-row">
            <span class="detail-label">Perfil</span>
            <span class="detail-value">{{ profileDisplayName }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Status</span>
            <span class="detail-badge" [class.active]="userAtivo">
              {{ userAtivo ? 'Ativo' : 'Inativo' }}
            </span>
          </div>
        </div>
      </div>

      <ion-list class="menu-list">
        <ion-item
          *ngIf="canStartVistoria && !hasVistoriaEmAndamento"
          lines="none"
          button
          detail="true"
          class="menu-item"
          (click)="goTo('/vistoria/inicio')"
        >
          <ion-icon name="play-circle-outline" slot="start" class="menu-item-icon"></ion-icon>
          <ion-label class="menu-item-label">Iniciar vistoria</ion-label>
        </ion-item>
        <ion-item
          *ngIf="canStartVistoria && hasVistoriaEmAndamento"
          lines="none"
          button
          detail="true"
          class="menu-item"
          (click)="goTo('/vistoria/areas')"
        >
          <ion-icon name="play-circle-outline" slot="start" class="menu-item-icon"></ion-icon>
          <ion-label class="menu-item-label">Continuar vistoria</ion-label>
        </ion-item>
        <ion-item
          *ngIf="canViewHistoricoVeiculo"
          lines="none"
          button
          detail="true"
          class="menu-item"
          [class.menu-item-disabled]="hasVistoriaEmAndamento"
          (click)="goTo('/vistoria/pendencias-veiculo', { fromMenu: true })"
        >
          <ion-icon name="clipboard-outline" slot="start" class="menu-item-icon"></ion-icon>
          <ion-label class="menu-item-label">Pendências do Veículo</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          button
          detail="true"
          class="menu-item"
          [class.menu-item-disabled]="hasVistoriaEmAndamento"
          (click)="goTo('/configuracoes')"
        >
          <ion-icon name="settings-outline" slot="start" class="menu-item-icon"></ion-icon>
          <ion-label class="menu-item-label">Configurações</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          button
          detail="true"
          class="menu-item"
          [class.menu-item-disabled]="hasVistoriaEmAndamento"
          (click)="goTo('/sobre')"
        >
          <ion-icon name="information-circle-outline" slot="start" class="menu-item-icon"></ion-icon>
          <ion-label class="menu-item-label">Sobre</ion-label>
        </ion-item>
      </ion-list>
      <div class="menu-footer">
        <ion-button
          expand="block"
          color="danger"
          (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Sair
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
