<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vistoria/areas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ areaNome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando componentes...</p>
  </div>

  <ion-text color="danger" *ngIf="errorMessage">
    <p class="error-message">{{ errorMessage }}</p>
  </ion-text>

  <ion-list *ngIf="!loading && componentes.length > 0">
    <ion-item button detail="true" *ngFor="let item of componentes" (click)="abrirComponente(item)">
      <ion-label>
        <h2>{{ item.componente?.nome }}</h2>
        <p *ngIf="irregularidadesPorComponente.has(item.idComponente)">
          Irregularidade registrada
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="content" *ngIf="!loading && componentes.length === 0">
    <p>Nenhum componente encontrado nesta área.</p>
  </div>
</ion-content>
